/.idea/
**/target/
**/.lake/
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz
*.toc
*.run.xml

# Ignored because it is regenerated every time with just lean command
rust/crates/core/proofs/lean/llbc/phd_core.llbc